name: Robot Framework CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout repo
    - name: Checkout repository
      uses: actions/checkout@v4

    # Step 2: Setup Python
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # Step 3: Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Step 4: Install Chrome + chromedriver
    - name: Install Chrome
      run: |
        sudo apt update
        sudo apt install -y chromium-browser chromium-chromedriver
        echo $PATH

    # Step 5: Run Robot Framework tests
    - name: Run Robot Tests
      run: |
        robot -d results -v BROWSER:chrome_headless tests/

    # Step 6: Upload Robot Framework results
    - name: Upload Robot Framework logs
      uses: actions/upload-artifact@v4
      with:
        name: robot-results
        path: results/
